MYSQL_ROOT_PASSWORD=replace-with-root-password
MYSQL_DATABASE=employeedb

EUREKA_URL=http://eureka-server:8761/eureka
JWT_SECRET=replace-with-minimum-32-char-jwt-secret

EMPLOYEE_DB_URL=jdbc:mysql://mysql:3306/employeedb
EMPLOYEE_DB_USERNAME=employee_user
EMPLOYEE_DB_PASSWORD=replace-with-employee-db-password

DEPARTMENT_DB_URL=jdbc:mysql://mysql:3306/departmentdb
DEPARTMENT_DB_USERNAME=department_user
DEPARTMENT_DB_PASSWORD=replace-with-department-db-password

GATEWAY_DB_URL=jdbc:mysql://mysql:3306/gatewaydb
GATEWAY_DB_USERNAME=gateway_user
GATEWAY_DB_PASSWORD=replace-with-gateway-db-password
